/*
全局样式
 */
html, body, #app {
 height: 100%;
 margin: 0;
 padding: 0;
 min-width: 1366px;
 min-height: 500px;
 background-color: #E9EEF3;
}
.el-breadcrumb{
    margin-bottom: 15px;
}
.el-table {
    margin-top: 15px;
}
.el-pagination {
    margin-top: 15px;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

